[submodule "lvgl"]
	path = lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "lv_drivers"]
	path = lv_drivers
	url = https://github.com/lvgl/lv_drivers.git
[submodule "deps/baresip"]
	path = deps/baresip
	url = https://github.com/baresip/baresip.git
[submodule "deps/re"]
	path = deps/re
	url = https://github.com/baresip/re.git
[submodule "deps/rem"]
	path = deps/rem
	url = https://github.com/baresip/rem.git
